---
import { getLaunches } from '../services/spacex'
import CardLaunch from './CardLaunch.astro'

const launches = await getLaunches()
---

<div class='grid gap-8 sm:grid-cols-2 lg:grid-cols-3'>
    {
        launches.map(
            ({ id, details, links, success, flight_number: fligthNumber }) => (
                <CardLaunch
                    id={id}
                    img={links.patch.small}
                    details={details}
                    fligthNumber={fligthNumber}
                    success={success}
                />
            ),
        )
    }
</div>

<!-- 01:18:00 -->
